.icons {
  text-align: center;
}
.icons a {
  text-decoration: none;
  margin-right: 20px;
}
.fa-regular.fa-house.fa-5x {
  color: hsl(40, 1%, 44%);
}
.fa-regular.fa-house.fa-5x:hover {
  color: hsl(40, 1%, 76%);
}
.fa-brands.fa-twitter.fa-5x {
  color: hsl(188, 100%, 50%);
}
.fa-brands.fa-twitter.fa-5x:hover {
  color: hsl(188, 100%, 60%);
}
.fa-brands.fa-youtube.fa-5x {
  color: hsl(0, 100%, 50%);
}
.fa-brands.fa-youtube.fa-5x:hover {
  color: hsl(0, 82%, 62%);
}
.fa-brands.fa-twitch.fa-5x {
  color: rgba(105, 105, 222, 0.848);
}
.fa-brands.fa-twitch.fa-5x:hover {
  color: rgba(164, 164, 241, 0.848);
}