.pagination {
  text-align: center;
}
.pagination a {
  color: hsl(251, 100%, 48%);
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
}
.pagination a.active {
  background-color: rgb(138, 232, 138);
  font-weight: bold;
  border-radius: 5px;
}
.pagination a:hover:not(.active) {
  background-color: rgb(181, 179, 179);
  border-radius: 5px;
}