@font-face {
  src: url(fonts/Roboto-Light.ttf);
  font-family: Roboto-Light;
}
@font-face {
  src: url(fonts/OpenSans-Italic-VariableFont_wdth\wght.ttf);
  font-family: Opensans;
}
h1 {
  font-family: Roboto-Light, Arial, Helvetica;
}
p {
  font-family: Opensans, "luscida console", "Courier New";
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
}